{%  extends 'base.html' %}

{%  block head %}
    <title>Task Manager Web App</title>
{% endblock %}

{%  block body %}
    <h2 style="font-weight: bold">Task Manager</h2>
    <div>
        {% if tasks|length < 1 %}
            <p>
                There are no tasks (yet). Please add a new task and it will show up in a table below.
            </p>
        {% else %}
            <table class="content">
                <tr>
                    <th>Task</th>
                    <th>Date Added</th>
                    <th>Actions</th>
                </tr>
                {% for task in tasks  %}
                <tr>
                    <td>{{ task.content }}</td>
                    <td>{{ task.date_created.date() }}</td>
                    <td>
                        <a href="/delete/{{ task.id }}">Delete</a>
                        <br>
                        <a href="/update/{{ task.id }}">Update</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        {% endif %}
        <form action="/" method="post">
            <label for="content"></label><input type="text" name="content" id="content"/>
            <input type="submit" value="Add Task" class="btn btn-primary">
        </form>
    </div>
    <footer>
        This task manager is built using Python + Flask with a SQLite database for data fetching.
    </footer>
{% endblock %}